<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모집(mo.zip) - 멤버모집 상세</title>
  <!-- css / font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/detail.css}">
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header>
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<!-- main -->
<main>
  <div class="wrap flex">
    <div class="content">
      <div class="main-contents">
        <div class="title-wrap">
          <span class="pj-type pj" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}">사이드
            프로젝트</span>
          <p class="title">
            <strong class="state-ing" th:if="${project.getStatus()==1}">모집 중</strong>
            <strong class="state-ing" th:if="${project.getStatus()==0}">모집완료</strong>
            <th:block th:text="${project.getProjectName()}">엘리스 SW 4 모집합니다!</th:block>
          </p>
        </div>
        <!-- <p class="title">
    <strong class="state-done">모집 완료</strong> 엘리스 SW 4기
    모집합니다!
  </p> -->
        <div class="info-wrap">
          <ul class="count">
            <li th:text="${project.getCreatedAt()}">2024년 4월 30일</li>
            <li><i class="fa-regular fa-comment"></i> <th:block th:text="${project.getRecruitCount()}">4개</th:block></li>
            <li><i class="fa-solid fa-eye"></i><th:block th:text="${project.getViews()}">28회</th:block></li>
          </ul>
          <a href="" class="share-Btn"><i class="fa-solid fa-share-nodes"></i>공유하기</a>
        </div>
        <!-- <input type="text" id="urlInput" value=""> -->
        <!-- <div class="copy-message" id="copyMessage">페이지 URL이 복사되었습니다!</div> -->
        <div class="list-wrap">
          <table>
            <tr>
              <td>모집 인원</td>
              <td th:text="${project.getRecruitCount()} +'명'">4명</td>
              <td>진행 방식</td>
              <td th:text="${project.getProjectProcess()}">온라인</td>
            </tr>
            <tr>
              <td>모집 분야</td>
              <td class="skill-td">
                <span class="work top" th:each="role : ${project.getRecruitRoles()}" th:text="${role}">전체</span>
              </td>
              <td>시작 예정</td>
              <td th:text="${project.getExceptTime()}">2024.06.09</td>
            </tr>
            <tr>
              <td>수행 목적</td>
              <td th:text="${project.getProjectPurpose()}">포트폴리오</td>
              <td>예상 기간</td>
              <td th:text="${project.getExceptDate()} + '개월'">2개월</td>
            </tr>
            <tr>
              <td>참여 시간</td>
              <td th:if="${project.getProjectTime() == 1}">매주 4시간 이하</td>
              <td th:if="${project.getProjectTime() == 2}">4시간 ~ 10시간</td>
              <td th:if="${project.getProjectTime() == 3}">10시간 이상</td>
              <td>기술 스택</td>
              <td>
                <ul class="skill">
                  <li th:each="skill : ${project.getSkills()}">
                    <th:block th:switch="${skill}">
                      <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
                      <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
                      <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
                      <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
                      <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
                      <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
                      <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
                      <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
                      <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
                      <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
                      <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
                      <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
                      <img th:case="'php'" src="/img/php.svg" alt="php"/>
                      <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
                      <img th:case="'React'" src="/img/react.svg" alt="React"/>
                      <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
                      <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
                      <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
                      <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
                      <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
                      <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
                      <span th:case="*">[[${skill}]]</span>
                    </th:block>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <div class="pj-intro">
          <h2 class="title-contents">프로젝트 소개</h2>
          <p class="content bottom" th:text="${project.getProjectInfo()}">
            나만의 독보적인 포트폴리오를 만들고 싶다면?</br>
            단기간에 프로젝트 A to Z를 경험하고 싶다면?</br>
            타 직군과 소통하며 협업을 경험하고 싶다면?</br>
             </br>
            위와 같은 고민을 하고 있다면 지금 당장 ‘스위프 5기’에 지원하세요!</br>
            완벽하게 취.뽀. 하고 싶은 대학생&취준생&주니어 모두 환영! (비전공자도 환영🙌) </br>
             </br>
            📢 [스위프란?]</br>
            스위프는 기획자, 디자이너, 개발자가 한 팀으로 웹개발 단기 프로젝트(6주)를 경험하고 성장할 수 있는 기회를 제공합니다! </br>
            스위프를 통해 나와 맞는 팀원과 함께 프로젝트의 전 과정을 경험하고, 나만의 차별화 된 포트폴리오를 만들 수 있어요!</br>
             </br>
            ⭐ [참가 혜택]</br>
            1. 체계적으로 협업할 수 있도록 스위프 전용 협업 툴 지원!</br>
            2. 초보자도 쉽게 프로젝트를 진행할 수 있는 가이드라인 및 템플릿 제공!</br>
            3. 복잡한 과정 없이 GitHub 연동만으로 쉽고 빠른 웹 호스팅 지원!</br>
            4. 포트폴리오로 활용할 수 있도록 프로젝트 결과물 보존!</br>
            5. 프로젝트를 증명할 수 있는 수료증 및 상장 발급!</br>
            6. 다양한 업계 IT 직군과의 네트워킹 가능!</br>
            7. 기업 채용 연계 서비스 제공!</br>
            → 자세히 알아보기 https://swyg.link/7FnWc</br>
             </br>
            🙌🏻 [모집 대상]</br>
            - 아이디어 기획 경험이 한 번이라도 있는 기획자,</br>
              디자인 툴 하나라도 사용해 본 디자이너, </br>
              프로그래밍 언어를 하나라도 공부해 본 개발자, 모두 환영해요!    </br>
            - 한 번도 사이드 프로젝트 해본 적 ‘없’는 사람? 오히려 좋아요!</br>
            - 경험이 부족해도 포트폴리오가 없어도 괜찮아요. 당신의 의지와 열정이면 충분해요!</br>
             </br>
            🔥 [참가비]</br>
            - “단돈 99,000원!”</br>
               참가비 199,000원 (정가 250,000원)  </br>
               수료 시 현금 리워드(10만원) 증정</br>
             </br>
            ....
          </p>
        </div>
        <p class="title-contents app">🖐 참가 신청자 목록&nbsp; <i class="fa-solid fa-circle-info"></i></p>
        <div class="app-wrap">
          <div class="application-box" th:each="member : ${project.getMembers()}">
            <div class="profile-top">
              <img th:src="@{/img/profile_sample.png}" alt="프로필이미지">
              <div>
                <span class="work" th:text="${member.getPosition()}">프론트엔드</span>
                <span class="career" th:if="${member.getCareer() == 1}">학생/취준생</span>
                <span class="career" th:if="${member.getCareer() == 2}">신입</span>
                <span class="career" th:if="${member.getCareer() == 3}">1~3년차</span>
                <span class="career" th:if="${member.getCareer() == 4}">3~5년차</span>
                <span class="career" th:if="${member.getCareer() == 5}">5년이상</span>
                <h3 th:text="${member.getUsername()}">👑 이윤지</h3>
              </div>
              <button class="addmem-button add">멤버 추가</button>
            </div>
            <p class="app-date" th:text="${member.getCreatedAt()}">2024년 4월 30일</p>
          </div>

        </div>
      </div>
    </div>
    <div class="right-box">
      <div class="profile-box">
        <img th:src="@{/img/profile_sample.png}" alt="프로필이미지">
        <div class="right-tag">
          <span class="work right" th:text="${project.getOwnerInfo().getPosition()}">백엔드</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==1}">신입/취준생</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==2}">1~3년차</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==3}">3~5년차</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==4}">5년차이상</span>
        </div>
        <h3 th:text="${project.getOwnerInfo().getUsername()}"> 이윤지</h3>
      </div>
      <button class="right-btn apply">프로젝트 참여 신청</button>
      <button class="right-btn bookmark"><i class="fa-regular fa-bookmark"></i>북마크</button>
      <button class="right-btn confirm open-modal">모집완료 하기</button>

      <div class="edit-btn">
        <a href="#">
          <button class="right-btn mod_btn">수정</button>
        </a>
        <button class="right-btn del_btn open-modal02">삭제</button>
      </div>

      <p class="current-mem">👩‍👦‍👦 현재 참여 인원 <span th:text="${project.getProjectMemberCount()}">5</span>명</p>

    </div>
    <!-- 모달창 -->
    <div class="modal-bg">
    </div>
    <div class="modal">
      <div class="modal-header">
        <a href="#" class="close-modal"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3>모집을 완료하시겠습니까?</h3>
      <div class="button-wrap">
        <button class="close-modal-back">돌아가기</button>
        <button class="submit-modal" type="submit">모집 완료하기</button>
      </div>
    </div>
    <div class="modal-bg bg02">
    </div>
    <div class="modal02">
      <div class="modal-header">
        <a href="#" class="close-modal02"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3>게시글을 삭제하시겠습니까?</h3>
      <p>삭제 후에는 게시글을 되돌릴 수 없습니다.</p>
      <div class="button-wrap">
        <button class="close-modal02-back">돌아가기</button>
        <button class="submit-modal" type="submit">삭제하기</button>
      </div>
    </div>
  </div>
</main>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
<script>
    // 모집완료 모달
    document.querySelector(".open-modal").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.add("visible");
        document.querySelector(".modal").classList.add("visible");
    });

    document.querySelector(".close-modal").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.remove("visible");
        document.querySelector(".modal").classList.remove("visible");
    });

    document.querySelector(".close-modal-back").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.remove("visible");
        document.querySelector(".modal").classList.remove("visible");
    });

    // 삭제 모달
    document.querySelector(".open-modal02").addEventListener("click", function () {
        document.querySelector(".bg02").classList.add("visible");
        document.querySelector(".modal02").classList.add("visible");
    });

    document.querySelector(".close-modal02-back").addEventListener("click", function () {
        document.querySelector(".bg02").classList.remove("visible");
        document.querySelector(".modal02").classList.remove("visible");
    });

    document.querySelector(".close-modal02").addEventListener("click", function () {
        document.querySelector(".bg02").classList.remove("visible");
        document.querySelector(".modal02").classList.remove("visible");
    });

    // 바깥영역 클릭 시 종료
    document.addEventListener("click", function (event) {
        if (
            !event.target.closest(".modal, .open-modal, .open-modal02, .modal02")
        ) {
            document.querySelector(".modal").classList.remove("visible");
            document.querySelector(".modal-bg").classList.remove("visible");

            document.querySelector(".modal02").classList.remove("visible");
            document.querySelector(".bg02").classList.remove("visible");

            document.body.classList.remove("modal-open");
        }
    });
</script>
</body>
</html>