<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>모집(mo.zip) - 멤버 모집</title>
  <!-- css / font -->
  <!-- 아이콘 : font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- 직접 구현한 CSS -->
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/list.css}"/>
  <!-- js -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <!-- swiper -->
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/recruit_list.js}"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>

<body>
<header id="header">
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<div class="wrap recruit-list">
  <div class="category">
    <h1>📃 카테고리</h1>
    <ul>
      <li id="all" class="on"><a href="/project">전체</a></li>
      <li id="etc"><a href="#" onclick="filterProjects('category', '풀스택')">풀스택</a></li>
      <li id="frontend"><a href="#" onclick="filterProjects('category', '프론트엔드')">프론트엔드</a></li>
      <li id="backend"><a href="#" onclick="filterProjects('category', '백엔드')">백엔드</a></li>
      <li id="design"><a href="#" onclick="filterProjects('category', '디자인')">디자인</a></li>
      <li id="manager"><a href="#" onclick="filterProjects('category', '기획')">기획</a></li>
    </ul>
    <button class="btn-write" onclick="createValidation()">모집글 작성하기</button>
    <div class="hidden-session" th:text="${session.loginMember}" style="display: none"></div>
  </div>
  <div class="project-list">
    <div class="search">
      <input type="text" placeholder="제목, 내용으로 검색" class="recruit-ipt" onkeydown="handleKeyDown(event)"/>
      <button class="search-remove" onclick="clearSearch()"><i class="fa-solid fa-xmark"></i></button>
      <button class="search-on" onclick="searchProjects()"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="list-top">
      <div class="tapmenu">
        <ul>
          <li id="typeAll" class="on"><a href="/project">전체</a></li>
          <li id="typeSide"><a href="#" onclick="filterProjects('type', '사이드 프로젝트')">사이드 프로젝트</a></li>
          <li id="typeStudy"><a href="#" onclick="filterProjects('type', '스터디 모임')">스터디/모임</a></li>
        </ul>
      </div>
      <select class="select" onchange="handleSelectFilter(event)">
        <option value="all">전체 모집 글</option>
        <option value="1">모집 중</option>
        <option value="0">모집 완료</option>
      </select>
    </div>

    <div class="lists">
      <a th:href="@{/project/{project}(project=${project.getId()})}" th:each="project : ${allProject}" class="project-box">
        <span class="pj-type" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}"></span>
        <p th:class="title">
          <strong th:classappend="${project.status == 1 ? 'state-ing' : 'state-done'}" th:text="${project.status == 1 ? '모집 중' : '모집완료'}"></strong>
          <span th:classappend="project-name" th:text="${project.getProjectName()}">엘리스 SW 4기 모집합니다!</span>
        </p>
        <div class="cont-wrap">
          <p class="content" th:utext="${#strings.replace(project.getProjectInfo(), '\n', '<br/>')}">
            열심히 코딩해서 멋진 개발자가 인재들을 모집합니다.열심히
            코딩해서 멋진 개발자가 인재 들을 모집합니다.
          </p>
        </div>
        <ul class="pj-work">
          <li th:each="role : ${project.getRoleNames()}">
            <th:block th:text="${role}"></th:block>
          </li>
        </ul>
        <ul class="count">
          <li th:text="${project.getCreateTime()}">2024.05.30</li>
          <li><i class="fa-regular fa-hand"></i>
            <th:block th:text="${project.getSubscribe()} + '명'">8개</th:block>
          </li>
          <li><i class="fa-solid fa-eye"></i>
            <th:block th:text="${project.getViews()} + '회'">16회</th:block>
          </li>
        </ul>
      </a>
    </div>
    <div id="sentinel"></div>
  </div>
</div>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
</body>
<script>
    let page = 0;
    $(window).scroll(() => {
        // console.log("윈도우 scrollTop",$(window).scrollTop());
        // console.log("문서의 높이",$(document).height());
        // console.log("윈도우 높이",$(window).height());

        let checkNum = $(window).scrollTop() - ($(document).height() - $(window).height());

        if (checkNum < 1 && checkNum > -1) {
            page++;
            pageLoad(page);
        }
    });

    function pageLoad(page){
        $.ajax({
            url: `/api/project?page=${page}`,
            type: "GET",
        }).done(res=>{
            console.log("성공",res);
            if (res.data.length === 0) {
                $('.lists').append('<p class="search-null">프로젝트가 존재하지 않습니다. 다시 검색해주세요.</p>');
            } else {
                res.data.forEach(project => {
                    $('.lists').append(`
            <a href="/project/${project.id}" class="project-box">
              <span class="pj-type ${project.projectType == '사이드 프로젝트' ? 'pj' : 'study'}">${project.projectType}</span>
              <p class="title">
                <strong class="${project.status == 1 ? 'state-ing' : 'state-done'}">${project.status == 1 ? '모집 중' : '모집완료'}</strong>
                <span>${project.projectName}</span>
              </p>
              <div class="cont-wrap">
                <p class="content">${project.projectInfo}</p>
              </div>
              <ul class="pj-work">
                ${project.roleNames.map(role => `<li>${role}</li>`).join('')}
              </ul>
              <ul class="count">
                <li>${project.createTime}</li>
                <li><i class="fa-regular fa-hand"></i> ${project.subscribe}명</li>
                <li><i class="fa-solid fa-eye"></i> ${project.views}회</li>
              </ul>
            </a>
          `);
                });
            }
        }).fail(err=>{
            console.log("실패",err);
        });
    }


    function createValidation() {
        let member = document.querySelector(".hidden-session").textContent;
        if (member == null) {
            alert("로그인을 먼저 진행해주세요 !");
            window.location.assign("/auth/login");
        } else {
            window.location.assign("/project/create");
        }
    }

    // 카테고리 및 타입 필터링 함수
    function filterProjects(filterType, filterValue) {
        let url = '';
        if (filterType === 'category') {
            url = `/api/project/${filterValue}`;
        } else if (filterType === 'type') {
            url = `/api/project/type/${filterValue}`;
        } else if (filterType === 'status') {
            url = `/api/project/select/${filterValue}`;
        }

        $('.lists').empty();  // 기존 리스트 초기화
        $.ajax({
            url: url,
            type: 'GET',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: 'json',
        }).done(res => {
            console.log("성공", res);
            if (res.data.length === 0) {
                $('.lists').append('<p class="search-null">프로젝트가 존재하지 않습니다. 다시 검색해주세요.</p>');
            } else {
                res.data.forEach(project => {
                    $('.lists').append(`
            <a href="/project/${project.id}" class="project-box">
              <span class="pj-type ${project.projectType == '사이드 프로젝트' ? 'pj' : 'study'}">${project.projectType}</span>
              <p class="title">
                <strong class="${project.status == 1 ? 'state-ing' : 'state-done'}">${project.status == 1 ? '모집 중' : '모집완료'}</strong>
                <span>${project.projectName}</span>
              </p>
              <div class="cont-wrap">
                <p class="content">${project.projectInfo}</p>
              </div>
              <ul class="pj-work">
                ${project.roleNames.map(role => `<li>${role}</li>`).join('')}
              </ul>
              <ul class="count">
                <li>${project.createTime}</li>
                <li><i class="fa-regular fa-hand"></i> ${project.subscribe}명</li>
                <li><i class="fa-solid fa-eye"></i> ${project.views}회</li>
              </ul>
            </a>
          `);
                });
            }

            // 스타일 변경
            if (filterType === 'category') {
                document.querySelectorAll('.category ul li').forEach(item => item.classList.remove('on'));
                document.querySelectorAll('.tapmenu ul li').forEach(item => item.classList.remove('on'));
                document.getElementById(getCategoryId(filterValue)).classList.add('on');
                document.getElementById(getTypeId('all')).classList.add('on');

            } else if (filterType === 'type') {
                document.querySelectorAll('.tapmenu ul li').forEach(item => item.classList.remove('on'));
                document.querySelectorAll('.category ul li').forEach(item => item.classList.remove('on'));
                document.getElementById(getTypeId(filterValue)).classList.add('on');
                document.getElementById(getCategoryId('all')).classList.add('on');
            } else if (filterType === 'status') {
                document.querySelector('.select').value = filterValue;
            }
        }).fail(error => {
            console.log("실패", error)
        });
    }

    function getCategoryId(categoryName) {
        switch (categoryName) {
            case 'all':
                return 'all';
            case '풀스택':
                return 'etc';
            case '프론트엔드':
                return 'frontend';
            case '백엔드':
                return 'backend';
            case '디자인':
                return 'design';
            case '기획':
                return 'manager';
            default:
                return 'all';
        }
    }

    function getTypeId(typeName) {
        switch (typeName) {
            case 'all':
                return 'typeAll';
            case '사이드 프로젝트':
                return 'typeSide';
            case '스터디 모임':
                return 'typeStudy';
            default:
                return '';
        }
    }

    function handleSelectFilter(event) {
        let selectedValue = event.target.value;
        filterProjects('status', selectedValue);
    }

    function searchProjects() {
        let keyword = document.querySelector(".recruit-ipt").value;
        $('.lists').empty();  // 기존 리스트 초기화
        $.ajax({
            url: "/api/project/search",
            type: "GET",
            data: {"keyword": keyword},
            success: function (response) {
                if (response.data.length === 0) {
                    $('.lists').append('<p class="search-null">프로젝트가 존재하지 않습니다. 다시 검색해주세요.</p>');
                } else {
                    response.data.forEach(project => {
                        $('.lists').append(`
            <a href="/project/${project.id}" class="project-box">
              <span class="pj-type ${project.projectType == '사이드 프로젝트' ? 'pj' : 'study'}">${project.projectType}</span>
              <p class="title">
                <strong class="${project.status == 1 ? 'state-ing' : 'state-done'}">${project.status == 1 ? '모집 중' : '모집완료'}</strong>
                <span>${project.projectName}</span>
              </p>
              <div class="cont-wrap">
                <p class="content">${project.projectInfo}</p>
              </div>
              <ul class="pj-work">
                ${project.roleNames.map(role => `<li>${role}</li>`).join('')}
              </ul>
              <ul class="count">
                <li>${project.createTime}</li>
                <li><i class="fa-regular fa-hand"></i> ${project.subscribe}명</li>
                <li><i class="fa-solid fa-eye"></i> ${project.views}회</li>
              </ul>
            </a>
          `);
                    });
                }
            },
            error: function (error) {
                console.log("Error: ", error);
            }
        });
    }

    function clearSearch() {
        document.querySelector(".recruit-ipt").value = '';
        searchProjects();
    }

    function handleInput() {
        searchProjects();
    }

    function handleKeyDown(event) {
        if (event.key === 'Enter') {
            searchProjects();
        }
    }

    // 이벤트 리스너 추가
    document.querySelector(".recruit-ipt").addEventListener('input', handleInput);
    document.querySelector(".recruit-ipt").addEventListener('keydown', handleKeyDown);
    document.querySelector(".clear-button").addEventListener('click', clearSearch); // clear-button은 클리어 버튼의 클래스명입니다.

    function clearSearch() {
        document.querySelector(".recruit-ipt").value = '';
        searchProjects();
    }

    function handleInput() {
        searchProjects();
    }

    function handleKeyDown(event) {
        if (event.key === 'Enter') {
            searchProjects();
        }
    }

    document.querySelector(".recruit-ipt").addEventListener("input", handleInput);
</script>
</html>