<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모집(mo.zip) - 멤버모집 상세</title>
  <!-- css / font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/detail.css}">
  <!-- js -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header id="header">
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<!-- main -->
<main>
  <div class="wrap flex">
    <div class="content">
      <div class="main-contents">
        <div class="title-wrap">
          <span class="pj-type pj" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}">사이드
            프로젝트</span>
          <p class="title">
            <strong th:classappend="${project.status == 1 ? 'state-ing' : 'state-done'}" th:text="${project.status == 1 ? '모집 중' : '모집완료'}"></strong>
            <th:block th:text="${project.getProjectName()}">엘리스 SW 4 모집합니다!</th:block>
          </p>
        </div>
        <!-- <p class="title">
    <strong class="state-done">모집 완료</strong> 엘리스 SW 4기
    모집합니다!
  </p> -->
        <div class="info-wrap">
          <ul class="count">
            <li th:text="${project.getCreatedAt()}">2024년 4월 30일</li>
            <li><i class="fa-regular fa-hand"></i>
              <th:block th:text="${project.getMembers().size()}+'명'">4명</th:block>
            </li>
            <li><i class="fa-solid fa-eye"></i>
              <th:block th:text="${project.getViews()}+'회'">28회</th:block>
            </li>
          </ul>
          <a href="" class="share-Btn"><i class="fa-solid fa-share-nodes"></i>공유하기</a>
        </div>
        <!-- <input type="text" id="urlInput" value=""> -->
        <!-- <div class="copy-message" id="copyMessage">페이지 URL이 복사되었습니다!</div> -->
        <div class="list-wrap">
          <table>
            <tr>
              <td>모집 인원</td>
              <td th:text="${project.getRecruitCount()} +'명'">4명</td>
              <td>진행 방식</td>
              <td th:text="${project.getProjectProcess()}">온라인</td>
            </tr>
            <tr>
              <td>모집 분야</td>
              <td class="skill-td">
                <span class="work top" th:each="role : ${project.getRecruitRoles()}" th:text="${role}">전체</span>
              </td>
              <td>시작 예정</td>
              <td th:text="${project.getExceptTime()}">2024.06.09</td>
            </tr>
            <tr>
              <td>수행 목적</td>
              <td th:text="${project.getProjectPurpose()}">포트폴리오</td>
              <td>예상 기간</td>
              <td th:text="${project.getExceptDate()} + '개월'">2개월</td>
            </tr>
            <tr>
              <td>참여 시간</td>
              <td th:if="${project.getProjectTime() == 1}">매주 4시간 이하</td>
              <td th:if="${project.getProjectTime() == 2}">4시간 ~ 10시간</td>
              <td th:if="${project.getProjectTime() == 3}">10시간 이상</td>
              <td>기술 스택</td>
              <td>
                <ul class="skill">
                  <li th:each="skill : ${project.getSkills()}">
                    <th:block th:switch="${skill}">
                      <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
                      <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
                      <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
                      <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
                      <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
                      <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
                      <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
                      <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
                      <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
                      <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
                      <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
                      <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
                      <img th:case="'php'" src="/img/php.svg" alt="php"/>
                      <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
                      <img th:case="'React'" src="/img/react.svg" alt="React"/>
                      <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
                      <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
                      <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
                      <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
                      <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
                      <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
                      <span th:case="*">[[${skill}]]</span>
                    </th:block>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <div class="pj-intro">
          <h2 class="title-contents">프로젝트 소개</h2>
          <p class="content bottom" th:utext="${#strings.replace(project.getProjectInfo(), '\n', '<br/>')}">
          </p>
        </div>
        <p class="title-contents app">🖐 참가 신청자 목록&nbsp; <i class="fa-solid fa-circle-info"></i></p>
        <div class="app-wrap">
          <div class="application-box" th:each="member : ${project.getMembers()}">
            <div class="profile-top">
              <div style="display: none;" class="member-id-list" th:text="${member.getId()}"></div>
              <img th:src="@{/upload/{img}(img=${member.getProfileImageUrl()})}" alt="프로필이미지">
              <div>
                <span class="work" th:text="${member.getPosition()}">프론트엔드</span>
                <span class="career" th:if="${member.getCareer() == 1}">학생/취준생</span>
                <span class="career" th:if="${member.getCareer() == 2}">신입</span>
                <span class="career" th:if="${member.getCareer() == 3}">1~3년차</span>
                <span class="career" th:if="${member.getCareer() == 4}">3~5년차</span>
                <span class="career" th:if="${member.getCareer() == 5}">5년이상</span>
                <h3 th:text="${member.getUsername()}">👑 이윤지</h3>
              </div>
              <button th:if="${session.loginMember!=null && session.loginMember.getId() == project.getOwnerId()}"
                      class="addmem-button add"
                      th:onclick="|memberInvite(${member.getId()}, ${project.getId()})|">
                멤버 추가
              </button>
            </div>
            <p class="app-date" th:text="${member.getCreatedAt()}">2024년 4월 30일</p>
          </div>

        </div>
      </div>
    </div>
    <div class="right-box">
      <div class="profile-box">
        <img th:src="@{/upload/{img}(img=${project.getOwnerInfo().getProfileImageUrl()})}" alt="프로필이미지">
        <div class="right-tag">
          <span class="work right" th:text="${project.getOwnerInfo().getPosition()}">백엔드</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==1}">신입/취준생</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==2}">신입</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==3}">1~3년차</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==4}">3~5년차</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==5}">5년차이상</span>
        </div>
        <h3 th:text="${project.getOwnerInfo().getUsername()}"> 이윤지</h3>
      </div>
      <button class="right-btn apply"
              th:if="${ session.loginMember!=null && session.loginMember.getId()!= project.getOwnerId()}"
              th:onclick="|projectJoin(${project.getId()})|"
      >프로젝트 참여 신청
      </button>
      <th:block th:if="${session.loginMember == null}">
        <!-- 북마크 안했을때 -->
        <button style="border: 1px solid var(--main-color); color: var(--main-color); background-color: white;"
                class="right-btn keep" th:onclick="|projectBookmark(${project.getId()})|">
          <i class="fa-regular fa-bookmark" style="color: var(--main-color);"></i>북마크
        </button>
      </th:block>
      <th:block th:if="${session.loginMember != null}">
        <!-- 북마크 안했을때 -->
        <button th:if="${isBookmark == 0}" style="border: 1px solid var(--main-color); color: var(--main-color); background-color: white;"
                class="right-btn keep" th:onclick="|projectBookmark(${project.getId()})|">
          <i class="fa-regular fa-bookmark" style="color: var(--main-color);"></i>북마크
        </button>
        <!-- 북마크 했을때 -->
        <button th:if="${isBookmark == 1}" style="border: 1px solid var(--main-color); color: white; background-color: var(--main-color);"
                class="right-btn keep" th:onclick="|projectBookmark(${project.getId()})|">
          <i class="fa-regular fa-bookmark" style="color: white;"></i>북마크
        </button>
      </th:block>
      <button id="btnRecruitDone" class="right-btn confirm open-modal"
              th:if="${session.loginMember != null && session.loginMember.getId()==project.getOwnerId() && project.getStatus()==1}"
      >모집완료 하기
      </button>
      <button id="btnRecruitDone" class="right-btn confirm-done open-modal"
              th:if="${session.loginMember != null && session.loginMember.getId()==project.getOwnerId() && project.getStatus()==0}"
      >모집완료
      </button>

      <div class="edit-btn">
        <a th:href="@{/project/edit/{projectId}(projectId=${project.getId()})}">
          <button th:if="${session.loginMember!=null && session.loginMember.getId()==project.getOwnerId()}" class="right-btn mod_btn">수정</button>
        </a>
        <button th:if="${session.loginMember!=null && session.loginMember.getId()==project.getOwnerId()}" class="right-btn del_btn open-modal02">삭제
        </button>
      </div>

      <p class="current-mem">👩‍👦‍👦 현재 참여 인원 <span th:text="${project.getProjectMemberCount()}">5</span>명</p>

    </div>
    <!-- 모달창 -->
    <div class="modal-bg">
    </div>
    <div class="modal">
      <div class="modal-header">
        <a href="#" class="close-modal"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3 id="modalTitle" class="modal-title" th:if="${project.getStatus()==1}">모집을 완료하시겠습니까?</h3>
      <h3 id="modalTitle" class="modal-title" th:if="${project.getStatus()==0}">모집완료를 취소하시겠습니까?</h3>
      <div class="button-wrap">
        <button class="close-modal-back">돌아가기</button>
        <button id="modalBtn" th:if="${project.getStatus()==1}" class="submit-modal" type="submit" th:onclick="|recruitDone(${project.getId()})|">모집
          완료하기
        </button>
        <button id="modalBtn" th:if="${project.getStatus()==0}" class="submit-modal" type="submit"
                th:onclick="|recruitDone(${project.getId()})|">모집완료 취소하기
        </button>
      </div>
    </div>
    <div class="modal-bg bg02">
    </div>
    <div class="modal02">
      <div class="modal-header">
        <a href="#" class="close-modal02"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3>게시글을 삭제하시겠습니까?</h3>
      <p>삭제 후에는 게시글을 되돌릴 수 없습니다.</p>
      <div class="button-wrap">
        <button class="close-modal02-back">돌아가기</button>
        <button class="submit-modal" type="submit" th:onclick="|deleteProject(${project.getId()})|">삭제하기</button>
      </div>
    </div>
  </div>
</main>
<!-- 로그인 유무 -->
<th:block th:if="${session.loginMember != null}">
  <div class="loginMember" th:text="${session.loginMember.getId()}" style="display: none"></div>
</th:block>
<th:block th:if="${session.loginMember == null}">
  <div class="loginMember" style="display: none">0</div>
</th:block>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
<script>
    // 프로젝트 참여신청
    function projectJoin(projectId) {
        // 현재 로그인한 유저의 ID
        let loginMemberId = document.querySelector(".loginMember").textContent;
        let logicCheck = -1;

        // 신청자 목록에서 로그인한 멤버가 있다면 alert() 출력 후 함수 종료
        document.querySelectorAll(".member-id-list").forEach(item => {
            if (item.textContent === loginMemberId)
                logicCheck = 1;
        });

        if (logicCheck == 1)
            alert("이미 신청하셨습니다 !");
        else {
            // 신청한 유저가 아니면 아래 로직이 실행됨.
            $.ajax({
                type: "POST",
                url: "/api/project/join",
                contentType: "application/x-www-form-urlencoded; charset=utr-8",
                data: {"memberId": loginMemberId, "projectId": projectId},
                dataType: "json"
            }).done(res => {
                console.log("통신성공!", res);
                let career;

                if (res.data.career == '1') res.data.career = '학생/취준생';
                else if (res.data.career == '2') res.data.career = '신입';
                else if (res.data.career == '3') res.data.career = '1~3년차';
                else if (res.data.career == '4') res.data.career = '3~5년차';
                else if (res.data.career == '5') res.data.career = '5년이상';
                let item =
                    `
                    <div class='application-box'>
                      <div class="profile-top">
                        <div style="display: none;" class="member-id-list">${res.data.id}</div>
                        <img src="/upload/${res.data.profileImageUrl}" alt="프로필이미지">
                        <div>
                          <span class="work">${res.data.position}</span>
                          <span class="career">${res.data.career}</span>
                          <h3>${res.data.username}</h3>
                        </div>
                      </div>
                      <p class="app-date">${res.data.createdAt}</p>
                    </div>
                    `;

                $('.app-wrap').append(item);
            }).fail(error => {
                console.log("통신실패!", error);
            });
        }
    }

    // 프로젝트 삭제
    // TODO : URL 변경 필요함(URL에 정보 노출 X)
    function deleteProject(projectId) {
        $.ajax({
            type: "DELETE",
            url: "/api/show/" + projectId,
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(res => { // HTTP 상태 코드 200번대일 때 호출됨
            console.log("성공:", res);
            alert("게시글이 성공적으로 삭제되었습니다."); // 서버에서 반환된 메시지 표시
            window.location.replace(`/project`);
        }).fail(error => { // HTTP 상태 코드 200번대가 아닐 때 호출됨
            alert("게시글 삭제를 실패했습니다. 다시 시도해주세요."); // 서버에서 반환된 메시지 대신 고정 메시지 표시
        });
    }

    // 멤버추가버튼
    function memberInvite(memberId, projectId) {
        console.log(memberId);
        $.ajax({
            type: "post",
            url: "/api/email",
            contentType: "application/x-www-form-urlencoded; charset=utr-8",
            data: {"memberId": memberId, "projectId": projectId},
            dataType: "json",
        }).done(res => {
            console.log("통신성공!", res);
            let receiveId = res.data;
            // receiveId 가 1이면 멤버초대 , -1이면 초대한멤버
            if(receiveId == 1)
                alert("이미 초대한 멤버입니다!");
            else
              alert("멤버초대 이메일을 전송하였습니다 !")
        }).fail(error => {
            console.log("통신실패!", error);
            alert("멤버초대를 실패하셨습니다 !");
        });
    }

    // 프로젝트 모집완료
    function recruitDone(projectId) {
        console.log(projectId);
        $.ajax({
            type: "patch",
            url: '/api/recruit/done',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: {"projectId": projectId},
            dataType: "json"
        }).done(res => {
            console.log(res);
            if (res.data == 1) {
                // 모집완료
                $("#btnRecruitDone").css("background-color", "var(--gray-font2)");
                $("#btnRecruitDone").css("color", "color: #fff;");
                $("#btnRecruitDone").text("모집완료");
                $(".state-ing").text("모집완료")
                $("#modalTitle").html("모집완료를 취소하시겠습니까?");
                $("#modalBtn").html("모집완료 취소하기");
                document.querySelector(".modal-bg").classList.remove("visible");
                document.querySelector(".modal").classList.remove("visible");
            } else {
                // 모집완료 취소
                $("#btnRecruitDone").css("background-color", "var(--main-color)");
                $("#btnRecruitDone").css("color", "color: #fff;");
                $("#btnRecruitDone").text("모집완료 하기");
                $(".state-ing").text("모집 중")
                $("#modalTitle").html("모집을 완료하시겠습니까?");
                $("#modalBtn").html("모집 완료하기");
                document.querySelector(".modal-bg").classList.remove("visible");
                document.querySelector(".modal").classList.remove("visible");
            }
        }).fail(error => {
            console.log("통신실패!", error);
        })
    }

    // 북마크 눌렀을 때 실시간으로 색이 변하게 하는 로직(북마크 중이면 main_color, 북마크를 안하면 색 없음 / 비동기 방식)
    function projectBookmark(projectId) {
        let memberId = document.querySelector(".loginMember").textContent;
        console.log("memberId:", memberId); // memberId가 올바르게 설정되었는지 확인
        let data = {};
        data.memberId = memberId;
        data.projectId = projectId;
        // data.key = value -> data{ key: value}

        if (memberId == 0)   // 로그인이 되어있지 않을 때
            alert("로그인이 필요합니다 !");
        else {       // 로그인이 되어있을 때
            // 북마크 로직 시작
            $.ajax({
                type: "POST",
                url: "/api/keep",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(res => { // HttpStatus 200번대(로드 성공)
                console.log("성공");

                if (res.data == 1) { // 서버 응답에 북마크 상태 포함한다고 가정
                    // 북마크가 추가된 경우
                    $(".keep").css("background-color", "var(--main-color)");
                    $(".keep").css("border", "1px solid var(--main-color)");
                    $(".keep").css("color", "white");
                    $(".keep").html('<i class="fa-regular fa-bookmark" style="color: white;"></i> 북마크');
                    alert("북마크가 추가되었습니다!");
                } else if (res.data == 0) {
                    // 북마크가 취소된 경우
                    $(".keep").css("background-color", "white");
                    $(".keep").css("color", "var(--main-color)");
                    $(".keep").css("border", "1px solid var(--main-color)");
                    $(".keep").html('<i class="fa-regular fa-bookmark" style="color: var(--main-color);"></i> 북마크');
                    alert("북마크가 취소되었습니다!");
                }
            }).fail(error => { // HttpStatus 200번대가 아닐때(로드 실패)
                console.log(error);
                alert("실패..");
            });
        }
    }

    // 모집완료 모달
    document.querySelector(".open-modal").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.add("visible");
        document.querySelector(".modal").classList.add("visible");
    });

    document.querySelector(".close-modal").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.remove("visible");
        document.querySelector(".modal").classList.remove("visible");
    });

    document.querySelector(".close-modal-back").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.remove("visible");
        document.querySelector(".modal").classList.remove("visible");
    });

    // 삭제 모달
    document.querySelector(".open-modal02").addEventListener("click", function () {
        document.querySelector(".bg02").classList.add("visible");
        document.querySelector(".modal02").classList.add("visible");
    });

    document.querySelector(".close-modal02-back").addEventListener("click", function () {
        document.querySelector(".bg02").classList.remove("visible");
        document.querySelector(".modal02").classList.remove("visible");
    });

    document.querySelector(".close-modal02").addEventListener("click", function () {
        document.querySelector(".bg02").classList.remove("visible");
        document.querySelector(".modal02").classList.remove("visible");
    });

    // 바깥영역 클릭 시 종료
    document.addEventListener("click", function (event) {
        if (
            !event.target.closest(".modal, .open-modal, .open-modal02, .modal02")
        ) {
            document.querySelector(".modal").classList.remove("visible");
            document.querySelector(".modal-bg").classList.remove("visible");

            document.querySelector(".modal02").classList.remove("visible");
            document.querySelector(".bg02").classList.remove("visible");

            document.body.classList.remove("modal-open");
        }
    });
</script>
</body>
</html>