<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모집(mo.zip) - 멤버모집 상세</title>
  <!-- css / font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/detail.css}">
  <!-- js -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/recruit_detail.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header id="header">
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<!-- main -->
<main>
  <div class="wrap flex">
    <div class="content">
      <div class="main-contents">
        <div class="title-wrap">
          <span class="pj-type pj" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}">사이드
            프로젝트</span>
          <p class="title">
            <strong th:classappend="${project.status == 1 ? 'state-ing' : 'state-done'}" th:text="${project.status == 1 ? '모집 중' : '모집완료'}"></strong>
            <th:block th:text="${project.getProjectName()}">엘리스 SW 4 모집합니다!</th:block>
          </p>
        </div>
        <!-- <p class="title">
    <strong class="state-done">모집 완료</strong> 엘리스 SW 4기
    모집합니다!
  </p> -->
        <div class="info-wrap">
          <ul class="count">
            <li th:text="${project.getCreatedAt()}">2024년 4월 30일</li>
            <li><i class="fa-regular fa-hand"></i>
              <th:block th:text="${project.getMembers().size()}+'명'">4명</th:block>
            </li>
            <li><i class="fa-solid fa-eye"></i>
              <th:block th:text="${project.getViews()}+'회'">28회</th:block>
            </li>
          </ul>
          <a href="" class="share-Btn"><i class="fa-solid fa-share-nodes"></i>공유하기</a>
        </div>
        <!-- <input type="text" id="urlInput" value=""> -->
        <!-- <div class="copy-message" id="copyMessage">페이지 URL이 복사되었습니다!</div> -->
        <div class="list-wrap">
          <table>
            <tr>
              <td>모집 인원</td>
              <td th:text="${project.getRecruitCount()} +'명'">4명</td>
              <td>진행 방식</td>
              <td th:text="${project.getProjectProcess()}">온라인</td>
            </tr>
            <tr>
              <td>모집 분야</td>
              <td class="skill-td">
                <span class="work top" th:each="role : ${project.getRecruitRoles()}" th:text="${role}">전체</span>
              </td>
              <td>시작 예정</td>
              <td th:text="${project.getExceptTime()}">2024.06.09</td>
            </tr>
            <tr>
              <td>수행 목적</td>
              <td th:text="${project.getProjectPurpose()}">포트폴리오</td>
              <td>예상 기간</td>
              <td th:text="${project.getExceptDate()} + '개월'">2개월</td>
            </tr>
            <tr>
              <td>참여 시간</td>
              <td th:if="${project.getProjectTime() == 1}">매주 4시간 이하</td>
              <td th:if="${project.getProjectTime() == 2}">4시간 ~ 10시간</td>
              <td th:if="${project.getProjectTime() == 3}">10시간 이상</td>
              <td>기술 스택</td>
              <td>
                <ul class="skill">
                  <li th:each="skill : ${project.getSkills()}">
                    <th:block th:switch="${skill}">
                      <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
                      <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
                      <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
                      <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
                      <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
                      <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
                      <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
                      <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
                      <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
                      <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
                      <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
                      <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
                      <img th:case="'php'" src="/img/php.svg" alt="php"/>
                      <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
                      <img th:case="'React'" src="/img/react.svg" alt="React"/>
                      <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
                      <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
                      <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
                      <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
                      <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
                      <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
                      <span th:case="*">[[${skill}]]</span>
                    </th:block>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <div class="pj-intro">
          <h2 class="title-contents">프로젝트 소개</h2>
          <p class="content bottom" th:utext="${#strings.replace(project.getProjectInfo(), '\n', '<br/>')}">
          </p>
        </div>
        <p class="title-contents app">🖐 참가 신청자 목록&nbsp; <i class="fa-solid fa-circle-info"></i></p>
        <div class="app-wrap">
          <div class="application-box" th:each="member : ${project.getMembers()}">
            <div class="profile-top">
              <div style="display: none;" class="member-id-list" th:text="${member.getId()}"></div>
              <img th:src="@{|/upload/${member.getProfileImageUrl()}|}" alt="프로필이미지">
              <div>
                <span class="work" th:text="${member.getPosition()}">프론트엔드</span>
                <span class="career" th:if="${member.getCareer() == 1}">학생/취준생</span>
                <span class="career" th:if="${member.getCareer() == 2}">신입</span>
                <span class="career" th:if="${member.getCareer() == 3}">1~3년차</span>
                <span class="career" th:if="${member.getCareer() == 4}">3~5년차</span>
                <span class="career" th:if="${member.getCareer() == 5}">5년이상</span>
                <h3 th:text="${member.getUsername()}">👑 이윤지</h3>
              </div>
              <button
                      th:if="${#authentication.getPrincipal()!='anonymousUser' && #authentication.getPrincipal().getMember().getId() == project.getOwnerId()}"
                      class="addmem-button add"
                      th:onclick="|memberInvite(${member.getId()}, ${project.getId()})|">
                멤버 추가
              </button>
            </div>
            <p class="app-date" th:text="${member.getCreatedAt()}">2024년 4월 30일</p>
          </div>

        </div>
      </div>
    </div>
    <div class="right-box">
      <div class="profile-box">
        <img th:src="@{|/upload/${project.getOwnerInfo().getProfileImageUrl()}|}" alt="프로필이미지">
        <div class="right-tag">
          <span class="work right" th:text="${project.getOwnerInfo().getPosition()}">백엔드</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==1}">신입/취준생</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==2}">신입</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==3}">1~3년차</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==4}">3~5년차</span>
          <span class="career right" th:if="${project.getOwnerInfo().getCareer() ==5}">5년차이상</span>
        </div>
        <h3 th:text="${project.getOwnerInfo().getUsername()}"> 이윤지</h3>
      </div>
      <button class="right-btn apply"
              th:if="${#authentication.getPrincipal()!='anonymousUser' && #authentication.getPrincipal().getMember().getId()!= project.getOwnerId()}"
              th:onclick="|projectJoin(${project.getId()})|"
      >프로젝트 참여 신청
      </button>

      <th:block th:if="${#authentication.getPrincipal()=='anonymousUser'}">
        <!-- 북마크 안했을때 -->
        <button style="border: 1px solid var(--main-color); color: var(--main-color); background-color: white;"
                class="right-btn keep" th:onclick="|projectBookmark(${project.getId()})|">
          <i class="fa-regular fa-bookmark" style="color: var(--main-color);"></i>북마크
        </button>
      </th:block>
      <th:block th:if="${#authentication.getPrincipal()!='anonymousUser'}">
        <!-- 북마크 안했을때 -->
        <button th:if="${isBookmark == 0}" style="border: 1px solid var(--main-color); color: var(--main-color); background-color: white;"
                class="right-btn keep" th:onclick="|projectBookmark(${project.getId()})|">
          <i class="fa-regular fa-bookmark" style="color: var(--main-color);"></i>북마크
        </button>
        <!-- 북마크 했을때 -->
        <button th:if="${isBookmark == 1}" style="border: 1px solid var(--main-color); color: white; background-color: var(--main-color);"
                class="right-btn keep" th:onclick="|projectBookmark(${project.getId()})|">
          <i class="fa-regular fa-bookmark" style="color: white;"></i>북마크
        </button>
      </th:block>
      <button id="btnRecruitDone" class="right-btn confirm open-modal"
              th:if="${#authentication.getPrincipal()!='anonymousUser' && #authentication.getPrincipal().getMember().getId()==project.getOwnerId() && project.getStatus()==1}"
      >모집완료 하기
      </button>
      <button id="btnRecruitDone" class="right-btn confirm-done open-modal"
              th:if="${#authentication.getPrincipal()!='anonymousUser' && #authentication.getPrincipal().getMember().getId()==project.getOwnerId() && project.getStatus()==0}"
      >모집완료
      </button>

      <div class="edit-btn">
        <a th:href="@{|/project/edit/${project.getId()}|}">
          <button th:if="${#authentication.getPrincipal()!='anonymousUser' && #authentication.getPrincipal().getMember().getId()==project.getOwnerId()}" class="right-btn mod_btn">수정</button>
        </a>
        <button th:if="${#authentication.getPrincipal()!='anonymousUser' && #authentication.getPrincipal().getMember().getId()==project.getOwnerId()}" class="right-btn del_btn open-modal02">삭제
        </button>
      </div>

      <p class="current-mem">👩‍👦‍👦 현재 참여 인원 <span th:text="${project.getProjectMemberCount()}">5</span>명</p>

    </div>
    <!-- 모달창 -->
    <div class="modal-bg">
    </div>
    <div class="modal">
      <div class="modal-header">
        <a href="#" class="close-modal"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3 id="modalTitle" class="modal-title" th:if="${project.getStatus()==1}">모집을 완료하시겠습니까?</h3>
      <h3 id="modalTitle" class="modal-title" th:if="${project.getStatus()==0}">모집완료를 취소하시겠습니까?</h3>
      <div class="button-wrap">
        <button class="close-modal-back">돌아가기</button>
        <button id="modalBtn" th:if="${project.getStatus()==1}" class="submit-modal" type="submit" th:onclick="|recruitDone(${project.getId()})|">모집
          완료하기
        </button>
        <button id="modalBtn" th:if="${project.getStatus()==0}" class="submit-modal" type="submit"
                th:onclick="|recruitDone(${project.getId()})|">모집완료 취소하기
        </button>
      </div>
    </div>
    <div class="modal-bg bg02">
    </div>
    <div class="modal02">
      <div class="modal-header">
        <a href="#" class="close-modal02"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3>게시글을 삭제하시겠습니까?</h3>
      <p>삭제 후에는 게시글을 되돌릴 수 없습니다.</p>
      <div class="button-wrap">
        <button class="close-modal02-back">돌아가기</button>
        <button class="submit-modal" type="submit" th:onclick="|deleteProject(${project.getId()})|">삭제하기</button>
      </div>
    </div>
  </div>
</main>
<!-- 로그인 유무 -->
<th:block th:if="${#authentication.getPrincipal()!='anonymousUser'}">
  <div class="login-member" th:text="${#authentication.getPrincipal().getMember().getId()}" style="display: none"></div>
</th:block>
<th:block th:if="${#authentication.getPrincipal()=='anonymousUser'}">
  <div class="login-member" style="display: none">0</div>
</th:block>
<!-- 사용자 수정 여부 -->
<th:block th:if="${#authentication.getPrincipal()!='anonymousUser'}">
  <div class="is-modify" th:text="${#authentication.getPrincipal().getMember().getIsModify()}"></div>
</th:block>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
</body>
</html>