<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>모집(mo.zip) - 프로젝트 자랑</title>
  <!-- css / font -->
  <!-- 아이콘 : font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- 직접 구현한 CSS -->
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/list.css}"/>
  <!-- js -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <!-- swiper -->
  <script src="./js/index.js"></script>
  <script src="./js/common.js"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header>
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<div class="wrap">
  <div class="top-lists">
    <h2>👑 현재 인기 프로젝트</h2>
    <div class="show-lists top">
      <a th:href="@{/project/show/${project.getId()}}" th:each="project:${HotShows}" class="show-box">
        <div class="img-wrap">
          <img th:src="@{/img/showlist_sample.png}" alt="프로필 이미지"/>
        </div>
        <div class="box-text">
          <span class="pj-type" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}"></span>
          <h2 th:text="${project.getProjectName()}">
            [풀스택개발자구인] 운동인을 위한 구독형 개인 맞춤 식단도시락
            서비스
          </h2>
          <ul class="skill">
            <li th:each="skill : ${project.getSkills()}"><th:block th:text="${skill}"></th:block></li>
          </ul>
          <div class="lists-bot">
            <p th:text="${project.getTeamName()}"></p>
            <ul class="count">
              <li><i class="fa-solid fa-eye"></i>
                <th:block th:text="${project.getViews()} + '회'">16회</th:block>
              </li>
              <li><i class="fa-regular fa-thumbs-up"></i>
                <th:block th:text="${project.getLikes()} + '개'"></th:block>
              </li>
            </ul>
          </div>

        </div>
      </a>
    </div>
  </div>
  <div class="show-top">
    <div class="show-flex">
      <ul class="type-slt">
        <li><a href="">전체</a></li>
        <li class="on"><a href="">사이드 프로젝트</a></li>
        <li><a href="">스터디/모임</a></li>
      </ul>
      <button>✏️ 프로젝트 자랑 하기</button>
    </div>
    <div class="select-wrap">
      <div class="left-select">
        <select name="">
          <option value="all">기술스택 선택</option>
          <option value="Java">Java</option>
          <option value="C++">C++</option>
          <option value="C#">C#</option>
          <option value="Python">Python</option>
          <option value="Spring">Spring</option>
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
          <option value="JS">JS</option>
          <option value="React">React</option>
          <option value="Vue.js">Vue.js</option>
          <option value="Angular">Angular</option>
          <option value="Flutter">Flutter</option>
          <option value="React Native">React Native</option>
          <option value="Flask">Flask</option>
          <option value="Node.js">Node.js</option>
          <option value="TypeScript">TypeScript</option>
        </select>
        <select name="">
          <option value="all">포지션</option>
          <option value="">프론트엔드</option>
          <option value="">백엔드</option>
          <option value="">디자인</option>
          <option value="">기획</option>
        </select>
        <select name="">
          <option value="">진행방식</option>
          <option value="">온라인</option>
          <option value="">오프라인</option>
          <option value="">온/오프라인</option>
        </select>
      </div>
      <div class="right-select">
        <div class="search">
          <input type="text" placeholder="제목, 내용으로 검색" class="show-ipt"/>
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <select class="select">
          <option value="new">최신순</option>
          <option value="old">오래된순</option>
          <option value="hot">인기순</option>
          <option value="save">북마크순</option>
        </select>
      </div>

    </div>

  </div>
  <div class="show-lists">
    <a th:href="@{/project/show/${project.getId()}}" th:each="project:${allShows}" class="show-box">
      <div class="img-wrap">
        <img th:src="@{/img/showlist_sample.png}" alt="프로필 이미지"/>
      </div>
      <div class="box-text">
        <span class="pj-type" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}"></span>
        <h2 th:text="${project.getProjectName()}">
          [풀스택개발자구인] 운동인을 위한 구독형 개인 맞춤 식단도시락
          서비스
        </h2>
        <ul class="skill">
          <li th:each="skill : ${project.getSkills()}">
            <th:block th:switch="${skill}">
              <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
              <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
              <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
              <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
              <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
              <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
              <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
              <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
              <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
              <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
              <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
              <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
              <img th:case="'php'" src="/img/php.svg" alt="php"/>
              <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
              <img th:case="'React'" src="/img/react.svg" alt="React"/>
              <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
              <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
              <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
              <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
              <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
              <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
              <span th:case="*">[[${skill}]]</span>
            </th:block>
          </li>
        </ul>

        <div class="lists-bot">
          <p th:text="${project.getTeamName()}"></p>
          <ul class="count">

            <li><i class="fa-solid fa-eye"></i>
              <th:block th:text="${project.getViews()} + '회'">16회</th:block>
            </li>
            <li><i class="fa-regular fa-thumbs-up"></i>
              <th:block th:text="${project.getLikes()} + '개'"></th:block>
            </li>
          </ul>
        </div>

      </div>
    </a>
  </div>
</div>
</body>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
</html>