<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모집(mo.zip) - 프로젝트 자랑 상세</title>
  <!-- css / font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/detail.css}">
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header>
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<!-- main -->
<main>
  <div class="wrap flex">
    <div class="content show">
      <div class="main-contents">
        <div class="title-wrap">
          <span class="pj-type pj" th:classappend="${showDetail.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${showDetail.getProjectType()}">사이드 프로젝트</span>
          <p class="title">
            <th:block th:text="${showDetail.getProjectName()}">엘리스 SW 4기 모집합니다!</th:block>
          </p>
        </div>
        <div class="info-wrap">
          <ul class="count">
            <li th:text="${showDetail.getCreatedAt()}">2024년 4월 30일</li>
            <li>
              <i class="fa-regular fa-thumbs-up"></i> <th:block th:text="${showDetail.getLikes()}"> 4개</th:block>
            </li>
            <li><i class="fa-solid fa-eye"></i><th:block th:text="${showDetail.getViews()}"> 28회</th:block></li>
          </ul>
          <a href="" class="share-Btn"><i class="fa-solid fa-share-nodes"></i>공유하기</a>
        </div>
        <!-- <input type="text" id="urlInput" value=""> -->
        <!-- <div class="copy-message" id="copyMessage">페이지 URL이 복사되었습니다!</div> -->
        <div class="list-wrap">
          <table>
            <tr>
              <td>진행 멤버</td>
              <td th:text="${showDetail.getRecruitCount()} + '명'">4명</td>
              <td>진행 방식</td>
              <td th:text="${showDetail.getProjectProcess()}">온라인</td>
            </tr>
            <tr>
              <td>모집 분야</td>
              <td>
                <span class="work top" th:each="role : ${showDetail.getRecruitRoles()}" th:text="${role}">전체</span>
              </td>
              <td>수행 목적</td>
              <td th:text="${showDetail.getProjectPurpose()}">포트폴리오</td>
            </tr>
            <tr>
              <td>시작 날짜</td>
              <td th:text="${showDetail.getCreatedAt()}">2024.06.09</td>
              <td>종료 날짜</td>
              <td th:text="${showDetail.getModifiedShow()}">2024.06.30</td>
            </tr>
            <tr>
              <td>참여 시간</td>
              <td th:if="${showDetail.getProjectTime() == 1}">매주 4시간 이하</td>
              <td th:if="${showDetail.getProjectTime() == 2}">4시간 ~ 10시간</td>
              <td th:if="${showDetail.getProjectTime() == 3}">10시간 이상</td>
              <td>기술 스택</td>
              <td>
                <ul class="skill">
                  <li th:each="skill : ${showDetail.getSkills()}">
                    <th:block th:switch="${skill}">
                      <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
                      <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
                      <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
                      <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
                      <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
                      <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
                      <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
                      <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
                      <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
                      <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
                      <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
                      <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
                      <img th:case="'php'" src="/img/php.svg" alt="php"/>
                      <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
                      <img th:case="'React'" src="/img/react.svg" alt="React"/>
                      <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
                      <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
                      <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
                      <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
                      <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
                      <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
                      <span th:case="*">[[${skill}]]</span>
                    </th:block>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <div class="pj-intro">
          <h2 class="title-contents">프로젝트 소개</h2>
          <p class="content bottom" th:text="${showDetail.getProjectInfo()}">
           내용이다 바보야
          </p>
        </div>
      </div>
      <div class="show-btn">
        <button class="like"><i class="fa-regular fa-thumbs-up"></i><th:block th:text="${showDetail.getLikes()}"> 4개</th:block></button>
        <a th:href="@{/project/show}">
          <button class="list"><i class="fa-solid fa-list-ul"></i>목록</button>
        </a>
      </div>
    </div>
    <div class="right-box">
      <div class="profile-box">
        <img th:src="@{/img/profile_sample.png}" alt="프로필이미지">
        <div class="right-tag">
          <!--/*@thymesVar id="member" type=""*/-->
          <span class="work right" th:text="${showDetail.getOwnerInfo().getPosition()}">백엔드</span>
          <span class="career right" th:if="${showDetail.getOwnerInfo().getCareer() == 1}">학생/취준생</span>
          <span class="career right" th:if="${showDetail.getOwnerInfo().getCareer() == 2}">신입</span>
          <span class="career right" th:if="${showDetail.getOwnerInfo().getCareer() == 3}">1~3년차</span>
          <span class="career right" th:if="${showDetail.getOwnerInfo().getCareer() == 4}">3~5년차</span>
          <span class="career right" th:if="${showDetail.getOwnerInfo().getCareer() == 5}">5년이상</span>
        </div>
        <h3 th:text="${showDetail.getOwnerInfo().getUsername()}">👑 이윤지</h3>
      </div>
      <button class="right-btn bookmark"><i class="fa-regular fa-bookmark"></i>북마크</button>
      <th:block th:if="${showDetail.getGithubLink() == null}"><a style="display:none;" th:href="@{/{github}(github=${showDetail.getGithubLink()})}"><button class="right-btn github"><i class="fa-brands fa-github"></i>깃허브</button></a></th:block>
      <th:block th:if="${showDetail.getGithubLink() != null}"><a th:href="@{/{github}(github=${showDetail.getGithubLink()})}"><button class="right-btn github"><i class="fa-brands fa-github"></i>깃허브</button></a></th:block>
      <div class="edit-btn">
        <a href="#">
          <button class="right-btn mod_btn">수정</button>
        </a>
        <button class="right-btn del_btn open-modal02">삭제</button>
      </div>
    </div>
    <!-- 모달창 -->
    <div class="modal-bg">
    </div>
    <div class="modal">
      <div class="modal-header">
        <a href="#" class="close-modal"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3>모집을 완료하시겠습니까?</h3>
      <div class="button-wrap">
        <button class="close-modal-back">돌아가기</button>
        <button class="submit-modal" type="submit">모집 완료하기</button>
      </div>
    </div>
    <div class="modal-bg bg02">
    </div>
    <div class="modal02">
      <div class="modal-header">
        <a href="#" class="close-modal02"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <h3>게시글을 삭제하시겠습니까?</h3>
      <p>삭제 후에는 게시글을 되돌릴 수 없습니다.</p>
      <div class="button-wrap">
        <button class="close-modal02-back">돌아가기</button>
        <button class="submit-modal" type="submit">삭제하기</button>
      </div>
    </div>
  </div>
</main>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
<script>
    document.querySelector(".open-modal").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.add("visible");
        document.querySelector(".modal").classList.add("visible");
    });

    document.querySelector(".close-modal").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.remove("visible");
        document.querySelector(".modal").classList.remove("visible");
    });

    document.querySelector(".close-modal-back").addEventListener("click", function () {
        document.querySelector(".modal-bg").classList.remove("visible");
        document.querySelector(".modal").classList.remove("visible");
    });

    document.addEventListener("click", function (event) {
        if (
            !event.target.closest(".modal, .open-modal, .open-modal02, .modal02")
        ) {
            document.querySelector(".modal").classList.remove("visible");
            document.querySelector(".modal-bg").classList.remove("visible");

            document.body.classList.remove("modal-open");
        }
    });
</script>
</body>
</html>