<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>모집(mo.zip) - 프로젝트 자랑</title>
  <!-- css / font -->
  <!-- 아이콘 : font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- 직접 구현한 CSS -->
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/list.css}"/>
  <!-- js -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
  <!-- swiper -->
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header id="header">
  <th:block th:replace="~{fragment/header}"></th:block>
</header>
<div class="wrap">
  <div class="top-lists">
    <h2>👑 현재 인기 프로젝트</h2>
    <div class="show-lists top">
      <a th:href="@{/project/show/{projectId}(projectId=${project.getId()})}" th:each="project:${HotShows}" class="show-box">
        <div class="img-wrap">
          <img th:src="@{|/upload/${project.getImageUrl()}|}" alt="프로필 이미지"/>
        </div>
        <div class="box-text">
          <span class="pj-type" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}"
                th:text="${project.getProjectType()}"></span>
          <h2 th:text="${project.getProjectName()}">
            [풀스택개발자구인] 운동인을 위한 구독형 개인 맞춤 식단도시락
            서비스
          </h2>
          <ul class="skill">
            <li th:each="skill : ${project.getSkills()}">
              <th:block th:switch="${skill}">
                <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
                <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
                <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
                <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
                <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
                <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
                <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
                <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
                <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
                <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
                <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
                <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
                <img th:case="'php'" src="/img/php.svg" alt="php"/>
                <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
                <img th:case="'React'" src="/img/react.svg" alt="React"/>
                <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
                <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
                <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
                <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
                <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
                <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
                <span th:case="*">[[${skill}]]</span>
              </th:block>
            </li>
          </ul>
          <div class="lists-bot">
            <ul class="count">
              <li><i class="fa-solid fa-eye"></i>
                <th:block th:text="${project.getViews()} + '회'">16회</th:block>
              </li>
              <li><i class="fa-regular fa-thumbs-up"></i>
                <th:block th:text="${project.getLikes()} + '개'"></th:block>
              </li>
            </ul>
          </div>

        </div>
      </a>
    </div>
  </div>
  <div class="show-top">
    <div class="show-flex">
      <!-- 로그인 유무 -->
      <th:block th:if="${#authentication.getPrincipal()!='anonymousUser'}">
        <a class="myproject-list" th:onclick="|myProjectList(${#authentication.getPrincipal().getMember().getId()})|">✏️ 프로젝트 자랑 하기</a>
      </th:block>
      <th:block th:if="${#authentication.getPrincipal()=='anonymousUser'}">
        <a class="myproject-list" onclick="myProjectList(0)">✏️ 프로젝트 자랑 하기</a>
      </th:block>
    </div>
    <div class="select-wrap">
      <div class="left-select">
        <select onchange="handleStackFilter(event)">
          <option value="all">기술스택 선택</option>
          <option value="Java">Java</option>
          <option value="C++">C++</option>
          <option value="C#">C#</option>
          <option value="Python">Python</option>
          <option value="Spring">Spring</option>
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
          <option value="JS">JS</option>
          <option value="React">React</option>
          <option value="Vue.js">Vue.js</option>
          <option value="Angular">Angular</option>
          <option value="Flutter">Flutter</option>
          <option value="React Native">React Native</option>
          <option value="Flask">Flask</option>
          <option value="Node.js">Node.js</option>
          <option value="TypeScript">TypeScript</option>
        </select>
      </div>
      <div class="right-select">
        <div class="search show">
          <input type="text" placeholder="제목, 내용으로 검색" class="show-ipt"/>
          <button class="search-remove" onclick="clearSearch()" style="right:30px;"><i class="fa-solid fa-xmark"></i></button>
          <button class="search-on" onclick="searchProjects()"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <select class="select" onchange="handleSelectFilter(event)">
          <option value="new">최신순</option>
          <option value="old">오래된순</option>
          <option value="save">북마크순</option>
        </select>
      </div>

    </div>

  </div>
  <div id="showList" class="show-lists show-search-result">
    <a th:href="@{/project/show/{projectId}(projectId=${project.getId()})}" th:each="project:${allShows}" class="show-box">
      <div class="img-wrap">
        <img th:src="@{|/upload/${project.getImageUrl()}|}" alt="프로필 이미지"/>
      </div>
      <div class="box-text">
        <span class="pj-type" th:classappend="${project.getProjectType() == '사이드 프로젝트'? 'pj' : 'study'}" th:text="${project.getProjectType()}"></span>
        <h2 th:text="${project.getProjectName()}">
          [풀스택개발자구인] 운동인을 위한 구독형 개인 맞춤 식단도시락
          서비스
        </h2>
        <ul class="skill">
          <li th:each="skill : ${project.getSkills()}">
            <th:block th:switch="${skill}">
              <img th:case="'AWS'" src="/img/aws.svg" alt="AWS"/>
              <img th:case="'Docker'" src="/img/docker.svg" alt="Docker"/>
              <img th:case="'Figma'" src="/img/figma.svg" alt="Figma"/>
              <img th:case="'Flutter'" src="/img/flutter.svg" alt="Flutter"/>
              <img th:case="'Git'" src="/img/git.svg" alt="Git"/>
              <img th:case="'Java'" src="/img/java.svg" alt="Java"/>
              <img th:case="'JavaScript'" src="/img/javascript.svg" alt="JavaScript"/>
              <img th:case="'Jest'" src="/img/jest.svg" alt="Jest"/>
              <img th:case="'Kotlin'" src="/img/kotlin.svg" alt="Kotlin"/>
              <img th:case="'MongoDb'" src="/img/mongodb.svg" alt="MongoDb"/>
              <img th:case="'MySQL'" src="/img/mysql.svg" alt="MySQL"/>
              <img th:case="'Nodejs'" src="/img/nodejs.svg" alt="Nodejs"/>
              <img th:case="'php'" src="/img/php.svg" alt="php"/>
              <img th:case="'Python'" src="/img/python.svg" alt="Python"/>
              <img th:case="'React'" src="/img/react.svg" alt="React"/>
              <img th:case="'ReactNative'" src="/img/reactnative.svg" alt="ReactNative"/>
              <img th:case="'Spring'" src="/img/spring.svg" alt="Spring"/>
              <img th:case="'Svelte'" src="/img/svelte.svg" alt="Svelte"/>
              <img th:case="'TypeScript'" src="/img/typescript.svg" alt="TypeScript"/>
              <img th:case="'Vue'" src="/img/vue.svg" alt="Vue"/>
              <!-- 추가적인 스킬에 대한 case를 여기에 추가 -->
              <span th:case="*">[[${skill}]]</span>
            </th:block>
          </li>
        </ul>

        <div class="lists-bot">
          <p th:text="${project.getTeamName()}"></p>
          <ul class="count">
            <li><i class="fa-solid fa-eye"></i>
              <th:block th:text="${project.getViews()} + '회'">16회</th:block>
            </li>
            <li><i class="fa-regular fa-thumbs-up"></i>
              <th:block th:text="${project.getLikes()} + '개'"></th:block>
            </li>
          </ul>
        </div>

      </div>
    </a>
  </div>
</div>
<footer>
  <th:block th:replace="~{fragment/footer}"></th:block>
</footer>
</body>
<script>
// 셀렉트 필터(기술스택)
  function handleStackFilter(event) {
    let filter = event.target.value;

    console.log(typeof  filter);


    if (filter == 'all')
      window.location.reload();
    else {
      $.ajax({
        url: '/api/project/skill/'+filter,
        type: "get",
        dataType: "json"
      }).done(res => {
        console.log("성공", res);
        $('#showList').empty();
        if (res.data.length === 0) {
          $('#showList').append('<p class="search-null">해당 조건에 맞는 프로젝트가 존재하지 않습니다. 다시 검색해주세요.</p>');
        } else {
          // 새로운 프로젝트 리스트를 추가합니다.
          res.data.forEach(project => {
            let skillImages = project.skills.map(skill => {
              let imgSrc;
              switch(skill) {
                case 'AWS':
                  imgSrc = '/img/aws.svg';
                  break;
                case 'Docker':
                  imgSrc = '/img/docker.svg';
                  break;
                case 'Figma':
                  imgSrc = '/img/figma.svg';
                  break;
                case 'Flutter':
                  imgSrc = '/img/flutter.svg';
                  break;
                case 'Git':
                  imgSrc = '/img/git.svg';
                  break;
                case 'Java':
                  imgSrc = '/img/java.svg';
                  break;
                case 'JavaScript':
                  imgSrc = '/img/javascript.svg';
                  break;
                case 'Jest':
                  imgSrc = '/img/jest.svg';
                  break;
                case 'Kotlin':
                  imgSrc = '/img/kotlin.svg';
                  break;
                case 'MongoDb':
                  imgSrc = '/img/mongodb.svg';
                  break;
                case 'MySQL':
                  imgSrc = '/img/mysql.svg';
                  break;
                case 'Nodejs':
                  imgSrc = '/img/nodejs.svg';
                  break;
                case 'php':
                  imgSrc = '/img/php.svg';
                  break;
                case 'Python':
                  imgSrc = '/img/python.svg';
                  break;
                case 'React':
                  imgSrc = '/img/react.svg';
                  break;
                case 'ReactNative':
                  imgSrc = '/img/reactnative.svg';
                  break;
                case 'Spring':
                  imgSrc = '/img/spring.svg';
                  break;
                case 'Svelte':
                  imgSrc = '/img/svelte.svg';
                  break;
                case 'TypeScript':
                  imgSrc = '/img/typescript.svg';
                  break;
                case 'Vue':
                  imgSrc = '/img/vue.svg';
                  break;
                default:
                  imgSrc = ''; // 이미지가 없는 경우
              }
              return imgSrc ? `<img src="${imgSrc}" alt="${skill}"/>` : `<span>${skill}</span>`;
            }).join('');

            $('#showList').append(`
                        <a href="/project/show/${project.id}" class="show-box">
                            <div class="img-wrap">
                                <img src="/upload/${project.imageUrl}" alt="프로필 이미지"/>
                            </div>
                            <div class="box-text">
                                <span class="pj-type ${project.projectType == '사이드 프로젝트' ? 'pj' : 'study'}">${project.projectType}</span>
                                <h2>${project.projectName}</h2>
                                <ul class="skill">
                                    <li>${skillImages}</li>
                                </ul>
                                <div class="lists-bot">
                                    <p>${project.teamName}</p>
                                    <ul class="count">
                                        <li><i class="fa-solid fa-eye"></i>${project.views}회</li>
                                        <li><i class="fa-regular fa-thumbs-up"></i>${project.likes}개</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    `);
          });
        }
      }).fail(error => {
        console.log("실패", error);
      });
    }
  }

  // 셀렉트 필터(최신, 오래된, 북마크순)
  function handleSelectFilter(event) {
    let selectedCondition = event.target.value;

    let apiUrl = '/api/show/select/';
    if (selectedCondition === 'new') {
      apiUrl += 'new';
    } else if (selectedCondition === 'old') {
      apiUrl += 'old';
    } else if (selectedCondition === 'save') {
      apiUrl += 'save';
    } else {
      return;
    }
    console.log(selectedCondition);
    console.log(apiUrl);


    $.ajax({
      url: apiUrl,
      type: "get",
      dataType: "json"
    }).done(res => {
      console.log("성공", res);

      $('#showList').empty();
      if (res.data.length === 0) {
        $('#showList').append('<p class="search-null">프로젝트가 존재하지 않습니다. 다른 조건으로 검색해주세요.</p>');
      } else {
        // 새로운 프로젝트 리스트를 추가합니다.
        res.data.forEach(project => {
          let skillImages = project.skills.map(skill => {
            let imgSrc;
            switch(skill) {
              case 'AWS':
                imgSrc = '/img/aws.svg';
                break;
              case 'Docker':
                imgSrc = '/img/docker.svg';
                break;
              case 'Figma':
                imgSrc = '/img/figma.svg';
                break;
              case 'Flutter':
                imgSrc = '/img/flutter.svg';
                break;
              case 'Git':
                imgSrc = '/img/git.svg';
                break;
              case 'Java':
                imgSrc = '/img/java.svg';
                break;
              case 'JavaScript':
                imgSrc = '/img/javascript.svg';
                break;
              case 'Jest':
                imgSrc = '/img/jest.svg';
                break;
              case 'Kotlin':
                imgSrc = '/img/kotlin.svg';
                break;
              case 'MongoDb':
                imgSrc = '/img/mongodb.svg';
                break;
              case 'MySQL':
                imgSrc = '/img/mysql.svg';
                break;
              case 'Nodejs':
                imgSrc = '/img/nodejs.svg';
                break;
              case 'php':
                imgSrc = '/img/php.svg';
                break;
              case 'Python':
                imgSrc = '/img/python.svg';
                break;
              case 'React':
                imgSrc = '/img/react.svg';
                break;
              case 'ReactNative':
                imgSrc = '/img/reactnative.svg';
                break;
              case 'Spring':
                imgSrc = '/img/spring.svg';
                break;
              case 'Svelte':
                imgSrc = '/img/svelte.svg';
                break;
              case 'TypeScript':
                imgSrc = '/img/typescript.svg';
                break;
              case 'Vue':
                imgSrc = '/img/vue.svg';
                break;
              default:
                imgSrc = ''; // 이미지가 없는 경우
            }
            return imgSrc ? `<img src="${imgSrc}" alt="${skill}"/>` : `<span>${skill}</span>`;
          }).join('');

          $('#showList').append(`
          <a href="/project/show/${project.id}" class="show-box">
            <div class="img-wrap">
              <img src="/upload/${project.imageUrl}" alt="프로필 이미지"/>
            </div>
            <div class="box-text">
              <span class="pj-type ${project.projectType == '사이드 프로젝트' ? 'pj' : 'study'}">${project.projectType}</span>
              <h2>${project.projectName}</h2>
              <ul class="skill">
                <li>${skillImages}</li>
              </ul>
              <div class="lists-bot">
                <p>${project.teamName}</p>
                <ul class="count">
                  <li><i class="fa-solid fa-eye"></i>${project.views}회</li>
                  <li><i class="fa-regular fa-thumbs-up"></i>${project.likes}개</li>
                </ul>
              </div>
            </div>
          </a>
        `);
        });
      }
    }).fail(error => {
      console.log("실패", error);
    });
  }
  
  function myProjectList(memberId) {
    if (memberId == 0)
      alert("로그인부터 하셔야합니다 !");
    else
      window.location.assign(`/member/projectList/${memberId}`);
  }

  function getSkillIcon(skill) {
    const skillIcons = {
      'AWS': '/img/aws.svg',
      'Docker': '/img/docker.svg',
      'Figma': '/img/figma.svg',
      'Flutter': '/img/flutter.svg',
      'Git': '/img/git.svg',
      'Java': '/img/java.svg',
      'JavaScript': '/img/javascript.svg',
      'Jest': '/img/jest.svg',
      'Kotlin': '/img/kotlin.svg',
      'MongoDb': '/img/mongodb.svg',
      'MySQL': '/img/mysql.svg',
      'Nodejs': '/img/nodejs.svg',
      'php': '/img/php.svg',
      'Python': '/img/python.svg',
      'React': '/img/react.svg',
      'ReactNative': '/img/reactnative.svg',
      'Spring': '/img/spring.svg',
      'Svelte': '/img/svelte.svg',
      'TypeScript': '/img/typescript.svg',
      'Vue': '/img/vue.svg'
    };

    return skillIcons[skill] || null;
  }

  function searchProjects(keyword = '') {
    $.ajax({
      url: "/api/show/search",
      type: "GET",
      data: {"keyword": keyword},
      dataType: "json",
      success: function (response) {
        $('.show-search-result').empty();  // 기존 리스트 초기화

        if (response.data && response.data.length === 0) {
          $('.show-search-result').append('<p class="search-null">프로젝트가 존재하지 않습니다. 다시 검색해주세요.</p>');
        } else if (response.data) {
          response.data.forEach(project => {

            let skillIconsHtml = project.skills.map(skill => {
              let iconUrl = getSkillIcon(skill);
              return iconUrl ? `<img src="${iconUrl}" alt="${skill}" style="width:25px; height:25px;"/>` : `<li>${skill}</li>`;
            }).join('');

            let projectTypeClass = project.projectType === '사이드 프로젝트' ? 'pj' : 'study';

            $('.show-search-result').append(`
              <a href="/project/show/${project.projectId}" class="show-box">
                <div class="img-wrap">
                  <img src="/upload/${project.imageUrl}" alt="프로필 이미지"/>
                </div>
                <div class="box-text">
                  <span class="pj-type ${projectTypeClass}">${project.projectType}</span>
                  <h2>${project.projectName}</h2>
                  <ul class="skill">
                    ${skillIconsHtml}
                  </ul>
                  <div class="lists-bot">
                    <ul class="count">
                      <li><i class="fa-solid fa-eye"></i> ${project.views}회</li>
                      <li><i class="fa-regular fa-thumbs-up"></i> ${project.likes}개</li>
                    </ul>
                  </div>
                </div>
              </a>
            `);
          });
        } else {
          console.error("응답 데이터가 정의되지 않았습니다.");
        }
      },
      error: function (error) {
        console.log("Error: ", error);
      }
    });
  }

  function clearSearch() {
    document.querySelector(".show-ipt").value = '';
    searchProjects();
  }

  function handleKeyDown(event) {
    if (event.key === 'Enter') {
      searchProjects(event.target.value);
    }
  }

  // 이벤트 리스너 추가
  document.querySelector(".show-ipt").addEventListener('keydown', handleKeyDown);
  document.querySelector(".search-remove").addEventListener('click', clearSearch);

  // 페이지 로드 시 모든 프로젝트 로드
  $(document).ready(function () {
    searchProjects();
  });
</script>
</html>