<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mozip.domain.likes.LikesRepository">

    <!-- 좋아요 수 올리기 -->
    <insert id="addLike" parameterType="com.mozip.domain.likes.Likes">
        INSERT INTO LIKES(ID, PROJECT_ID, MEMBER_ID)
        VALUES (LIKE_SEQ.nextVal, #{dto.projectId}, #{dto.memberId})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike" parameterType="com.mozip.domain.likes.Likes">
        DELETE FROM LIKES
        WHERE PROJECT_ID=#{dto.projectId} AND MEMBER_ID=#{dto.memberId}
    </delete>

    <!-- 좋아요 수 체크(해당 게시물에 이미 좋아요 한 memberId가 있는지 체크) -->
    <select id="checkLike" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM LIKES
        WHERE PROJECT_ID=#{projectId} AND MEMBER_ID=#{memberId}
    </select>

    <!-- 좋아요 카운트(맨 처음 떠있는 현재 좋아요 개수를 보여줌) -->
    <select id="likeCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM LIKES
                 INNER JOIN PROJECT ON LIKES.PROJECT_ID = PROJECT.ID
        WHERE PROJECT_ID = #{projectId}
    </select>

</mapper>
