<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mozip.domain.member.MemberRepository"> <!-- namespace 에는 repository 클래스의 경로를 입력 -->
    <select id="newMemberList" resultType="com.mozip.dto.resp.NewMemberListDto">
        <![CDATA[
        SELECT *
        FROM (SELECT ID, USERNAME, POSITION, INFO
        FROM MEMBER
        WHERE IS_MODIFY = 1
        ORDER BY CREATED_AT DESC)
        WHERE ROWNUM <= 6
        ]]>
    </select>
</mapper>

<!-- 위 형식으로 각 도메인에 맞는 Mapper 를 작성 -->