<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div id="header">
  <div class="header-in">
    <nav>
      <a th:href="@{/}">
        <img th:src="@{/img/logo.png}" alt="logo"/>
      </a>
      <ul class="menu">
        <li><a th:href="@{/project}">멤버 모집</a></li>
        <li><a th:href="@{/project/show}">프로젝트 자랑</a></li>

        <li><a href="#" sec:authorize="isAuthenticated()">팀 노트</a></li>
      </ul>
    </nav>
    <ul class="member">
      <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">로그인</a></li>
      <li sec:authorize="isAnonymous()"><a th:href="@{/auth/join}">회원가입</a></li>

      <li class="welcome" sec:authorize="isAuthenticated()"><span th:text="${#authentication.getPrincipal().getUsername()}">이윤지
      </span>님 반갑습니다!
        <ul class="sub-member" sec:authorize="isAuthenticated()">
          <li><a th:href="@{|/member/${#authentication.getPrincipal().getMember().getId()}|}">내프로필</a></li>
          <li><a href="">회원탈퇴</a></li>
          <li><a th:href="@{/auth/logout}">로그아웃</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</html>