.main-contents {
    /* 본문 간격 설정 */
    width: 670px;
}

.title-wrap .tag {
    /* 사이드 프로젝트 상자 */
    display: inline-block;
    background-color: var(--tag-bgcolor);
    padding: 0 6px;
    font-size: 0.75rem;
    color: #fff;
    border-radius: 3px;
}

.pj-type {
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    font-size: 0.813rem;
    padding: 4px 9px;
    margin-right: 5px;
}

.pj-type.pj {
    background-color: #ffadad;
}

.pj-type.study {
    background-color: #aaec90;
}

.title-wrap .title {
    /* 제목 타이틀 글자 스타일 설정 */
    padding: 20px 0 25px;
    font-size: 1.5rem;
    font-weight: 600;
}

.title-wrap strong {
    /* 제목 타이틀 글자 스타일 설정*/
    position: relative;
    font-size: 1.5rem;
    font-weight: 900;
    padding-right: 20px;
}

.title-wrap strong.state-ing:before {
    /* 모집중 | 기준으로 스타일 설정 */
    content: "|";
    position: absolute;
    top: 3px;
    left: 75px;
    color: var(--gray-font);
    font-weight: 500;
}

.title-wrap strong.state-done:before {
    /* 모집 완료 | 기준으로 스타일 설정 */
    content: "|";
    position: absolute;
    top: 2px;
    left: 82px;
    color: var(--gray-font);
    font-weight: 500;
}

.title-wrap strong.state-ing {
    /* 모집 중 글자 색 맞추기 */
    color: var(--main-color);
}

.info-wrap .count {
    /* 조회수 및 날짜 카운터 flex 정렬 */
    display: flex;
    align-items: center;
}

.info-wrap .count i {
    font-size: 0.815rem;
}

.info-wrap .count li {
    /* 카운터 폰트 크기 및 색상 맞추기 */
    font-size: 0.815rem;
    color: #5d5d5d;
    padding: 0 5px;
}

.info-wrap {
    /* 카운터와 공유하기 버튼 flex정렬 */
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.info-wrap .share-Btn {
    /* 공유하기 버튼 font-size 설정 */
    font-size: 0.815rem;
}

.info-wrap .share-Btn i {
    /* 공유하기 아이콘 설정 */
    font-size: 0.815rem;
    padding-right: 3px;
}

.list-wrap table {
    width: 100%;
    margin-top: 35px;
}

.list-wrap table tr td {
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.list-wrap table tr td:nth-child(2n + 1) {
    width: 15%;
}

.list-wrap table tr td:nth-child(2n) {
    width: 35%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-font);
}

.pj-intro {
    padding-top: 80px;
}

.title-contents {
    /* 본문 내용의 소제목 font 설정 */
    /* 프로젝트 요약 폰트 설정 */
    font-size: 1.25rem;
    padding: 0 0 15px;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
}

.title-contents.app {
    padding: 40px 0;
    border-bottom: none;
}

ul.recruit-icon {
    /* 모집역할 아이콘 가로로 정렬 */
    display: flex;
}

p.content {
    /* 본문 내용(요약) 줄 간격 설정 */
    /* 요약 내용 글자 간격 설정 */
    line-height: 1.5rem;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
}

ul.recruit-icon li {
    /* 아이콘 font 간격 및 볼드 설정 */
    padding-right: 20px;
    font-weight: 600;
}

ul.recruit-icon li i {
    /* 본문(참여시간) 아이콘 설정 */
    margin-right: 7px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    padding: 5px 5px;
    font-size: 0.875rem;
}

.fa-desktop,
.fa-server {
    /* 모집역할 프론트, 백 아이콘 설정 */
    color: rgb(115, 195, 158);
}

.fa-wand-magic-sparkles {
    /* 모집역할 디자인 아이콘 설정 */
    color: rgb(255, 204, 101);
}

.fa-paste {
    /* 모집역할 기획 아이콘 설정 */
    color: plum;
}

.fa-envelopes-bulk {
    /* 모집역할 기타 아이콘 설정 */
    color: #626262;
}

ul.stack-icon {
    /* 기술스택 아이콘 정렬 */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

ul.stack-icon img {
    /* 기술 스택 이미지 크기 설정 */
    width: 1.4rem;
    /* height: 1.7rem; */
    margin-right: 7px;
}

ul.stack-icon li:nth-child(2n) {
    /* 기술스택 두번째 줄 정렬 */
    padding-right: 20px;
    font-weight: 600;
}

ul.stack-icon li:nth-child(3n) {
    /* 기술스택 두번째 줄 정렬 */
    /* padding-right: 20px; */
    font-weight: 600;
}

.fa-cubes-stacked {
    /* 목적 역량키우기 아이콘 설정 */
    color: #b265de;
}

.fa-briefcase {
    /* 목적 포트폴리오 아이콘 설정 */
    color: #626262;
}

.fa-house-laptop {
    /* 목적 취미 아이콘 설정 */
    color: #e8ad54;
}

.fa-comment-dots {
    /* 목적 소통 아이콘 설정 */
    color: #e66a6a;
}

.fa-hourglass-half {
    /* 참여시간 아이콘 설정 */
    color: #545454;
}

.fa-circle-info {
    /* 저요저요 info 아이콘 */
    position: relative;
    /* 없어도 될듯..?*/
}

.fa-circle-info:hover::after {
    /* 저요저요 info버튼 호버 설정 */
    content: "지원자의 프로필을 눌러서 정보를 확인해보세요.";
    position: absolute;
    color: var(--gray-font);
    padding: 10px 8px;
    border-radius: 5px;
    font-size: 0.688rem;
    border: 1px solid var(--tag-bgcolor);
    margin-left: 5px;
    top: -8px;
    width: 240px;
}

.app-wrap {
    /* 저요저요 참여댓글 창 정렬 */
    padding-bottom: 55px;
}

/* -------------------------------------- */
/* show_detail */
.app-wrap-show {
    /* 댓글창 간격 설정 */
    padding-bottom: 10px;
}

.app-wrap-show .application-box {
    /* 댓글상자 틀 생성 */
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

/* -------------------------------------- */

.app {
    padding-top: 40px;
}

.app-wrap .application-box {
    /* 저요저요 멤버추가 댓글상자 */
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(241 241 241);
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.work {
    background-color: #f1f7ff;
    color: #74a0e2;
    font-size: 0.65rem;
    padding: 4px 7px;
    border-radius: 3px;
}

.work.top {
    font-size: 0.875rem;
}

.skill {
    display: flex;
    align-items: center;
}

.skill li img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.career {
    font-size: 0.65rem;
    padding: 4px 7px;
    border-radius: 3px;
    background-color: #e1ffd8;
    color: #4dc900;
}

.career.right,
.work.right {
    font-size: 0.75rem;
}

.right-tag {
    display: flex;
    justify-content: center;
}

.right-tag span {
    margin: 0 5px;
}

.application-box .profile-top {
    /* 댓글 상자 내 프로필 영역 설정 */
    position: relative;
    display: flex;
}

.application-box .profile-top img {
    /* 댓글 상자 프로필사진 설정 */
    width: 60px;
    height: 60px;
    margin-right: 13px;
}

.application-box .profile-top h3 {
    /* 댓글 상자 이름 설정 */
    font-weight: 600;
    padding-top: 13px;
    font-size: 1.25rem;
}

.application-box .profile-top p {
    /* 댓글 상자 소개문 설정 */
    font-size: 0.815rem;
    color: var(--gray-font);
}

.application-box .profile-top button {
    /* 댓글 상자 멤버 추가 버튼 위치 및 크기 설정 */
    position: absolute;
    top: 0;
    right: 0;
}

.profile-top .addmem-button {
    /* 저요저요 멤버 추가 버튼 설정 */
    display: inline-block;
    width: 65px;
    padding: 5px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

/* ----------------------------------------- */
/* show_detail */
.app-wrap-show .addmem-button {
    /* 답글 버튼 스타일 설정 */

    /* display: inline-block;
  width: 65px;
  padding: 5px;
  color: var(--lightgray-font);
  background-color: rgb(242, 242, 242);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px; */
}

.app-wrap-show .addmem-button.add:hover {
    /* 답글 버튼 호버 시 색 설정 */
    /* color: #626262; */
}

.app-date {
    /* 댓글 날짜 font 설정 */
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 12px;
    color: var(--lightgray-font);
}

.profile-top-show .addmem-button.done {
    /* 댓글 상자 멤버 버튼 색상 설정 */
    background-color: var(--gray-font);
}

.application-box .profile-top-show {
    /* 댓글 상자 내 프로필 영역 설정 */
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}

.application-box .profile-top-show img {
    /* 댓글 상자 프로필사진 설정 */
    width: 60px;
    height: 60px;
    margin-right: 13px;
}

.application-box .profile-top-show h3 {
    /* 댓글 상자 이름 설정 */
    font-weight: 600;
    padding-top: 9px;
}

.application-box .profile-top-show p {
    /* 댓글 상자 소개문 설정 */
    font-size: 0.815rem;
    color: var(--gray-font);
}

.application-box .profile-top-show button {
    /* 댓글 상자 멤버 추가 버튼 위치 및 크기 설정 */
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------------------------------------- */

.profile-top .addmem-button.done {
    /* 댓글 상자 멤버 버튼 색상 설정 */
    background-color: var(--gray-font);
}

.profile-top .addmem-button.add:hover {
    /* 댓글 상자 멤버추가 hover시 색상 설정 */
    background-color: var(--main-hover-color);
}

.application-box .comment {
    /* 박스안의 댓글 여백 설정 */
    margin: 20px 0px;
}

.box-count {
    /* 댓글 아래 날짜 설정 */
    text-align: right;
    font-size: 12px;
    color: var(--lightgray-font);
    padding-bottom: 5px;
    padding-right: 5px;
}

.aplly-box {
    /* 댓글 입력 상자 정렬 */
    display: flex;
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    justify-content: space-between;
}

.aplly-box .profile-pic img {
    /* 프로필 사진 크기 설정 */
    width: 40px;
    border-radius: 50%;
}

.aplly-box .comment-write {
    /* 댓글 입력 창 크기 및 모양 설정 */
    width: 520px;
    padding: 12px 20px;
    background-color: #efefef;
    border-radius: 8px;
    border: none;
}

.aplly-box .aplly-try {
    /* 댓글창 지원하기 버튼 설정 */
    display: inline-block;
    padding: 0 15px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.875rem;
}

/* .front_icon:hover,       // 작성자에만 필요
.back_icon:hover, 
.design_icon:hover,
.planner_icon:hover,
.other_icon:hover
{
    background-color: var(--tag-bgcolor);
} */

/* right */
.right-box {
    /*right-box 위치 고정 설정 */
    position: sticky;
    top: 167px;
    height: 495px;
}

/* ------------------------------------- */
/* show_detail */
.right-box-show {
    position: sticky;
    top: 167px;
    height: 765px;
    width: 273px;
}

.right-box-show .profile-box {
    /* right-box 프로필 틀 설정 */
    width: 273px;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 30px 40px;
    text-align: center;
}

.right-box-show .profile-box h3 {
    /* right-box 이름 설정 */
    padding-top: 14px;
    font-size: 1.25rem;
    font-weight: 500;
}

.right-box-show .profile-box p {
    /* right-box 소개문 설정 */
    padding-top: 10px;
    color: #868686;
    text-align: left;
    font-size: 0.815rem;
    line-height: 1.2rem;
}

.right-box-show .right-btn {
    /* right-box 버튼 색상 밑 크기 설정 */
    margin: 17px 0 0px;
    padding: 15px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    font-weight: 600;
    color: var(--main-color);
}

/* ----------------------------------------- */

.right-box .profile-box {
    /* right-box 프로필 틀 설정 */
    width: 273px;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 30px 40px;
    text-align: center;
}

.right-box .profile-box h3 {
    /* right-box 이름 설정 */
    padding-top: 14px;
    font-size: 1.25rem;
    font-weight: 500;
}

.right-box .profile-box p {
    /* right-box 소개문 설정 */
    padding-top: 10px;
    color: #868686;
    text-align: left;
    font-size: 0.815rem;
    line-height: 1.2rem;
}

.right-box .right-btn {
    /* right-box 버튼 색상 밑 크기 설정 */
    margin: 17px 0 0px;
    padding: 15px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    font-weight: 600;
    color: var(--main-color);
}

.right-box .right-btn:hover {
    background-color: var(--main-hover-color);
    color: #fff;
}

.right-box .right-btn.mod_btn,
.right-box .right-btn.del_btn {
    padding: 11px 0;
}

.right-btn.apply {
    background-color: var(--main-color);
    color: #fff;
}

.right-btn.apply:hover {
    background-color: var(--main-hover-color);
}

.right-btn.bookmark {
    /* right-box 북마크 색상 설정 */
    background-color: #fff;
}

.right-btn.bookmark:hover {
    background-color: var(--main-hover-color);
    color: #fff;
}

.right-btn.bookmark:hover i {
    color: #fff;
}

.right-btn.github {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.right-btn.confirm {
    /* right-box 모집완료 색상 설정 */
    background-color: var(--main-color);
    color: #fff;
}

/* -------------------------------------- */
/* show_detail */
.right-btn.confirm-show {
    border: 1px solid black;
    background-color: black;
    color: #fff;
}

.right-btn .fa-github {
    color: #fff;
}

/* -------------------------------------- */

.edit-btn {
    /* right-box 수정, 삭제 버튼 정렬 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.edit-btn button {
    /* right-box 수정 버튼 설정 */
    padding: 10px 0;
    background-color: #fff;
    border-radius: 8px;
}

.right-btn i {
    /* right-box 아이콘 색상 설정 */
    color: var(--main-color);
    padding-right: 5px;
}

/* ------------------------------------ */
/* show_detail */

.sc-title-box .sc-title-show {
    font-size: 0.875rem;
    font-weight: 600;
    padding: 15px 0 20px;
}

.sc-title-box .members-length {
    padding-top: 15px;
    color: var(--tag-bgcolor);
    font-size: 0.825rem;
}

.sc-member-list {
    margin-top: 20px;
}

.modal h3 {
    /* 모달창 안내문구 폰트 설정 */
    padding-bottom: 10px;
    font-size: 20px;
}

.modal p {
    /* 모달창 안내문구 폰트 설정 */
    padding-bottom: 30px;
}

.button-wrap button {
    /* 모달창 버튼 글자 중앙정렬 */
    text-align: center;
}

.button-wrap .close-modal-back {
    /* 모달창 버튼 간격두기 */
    margin-bottom: 40px;
    border: 1px solid var(--tag-bgcolor);
}

.button-wrap .submit-modal {
    /* 모달창 삭제버튼 색 설정 */
    background-color: var(--main-color);
    border: none;
    color: white;
}

.submit-modal:hover {
    /* 모달창 삭제 버튼 hover 설정 */
    background-color: var(--main-hover-color);
}

/* ------------------------------------ */

.right-box span {
    /* right-box 프로젝트 참여 멤버 이름 설정 */
    display: block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 0.65rem;
}

.current-mem {
    padding-top: 30px;
}

.current-mem span {
    display: inline;
    font-size: 1.1rem;
    font-weight: 600;
}

.confirm:hover {
    /* 모집완료 버튼 호버 시 색 변경 */
    background-color: var(--main-hover-color);
    transition: 0.3s;
}

.button-wrap .submit-modal {
    /* right-box 모달창 모집완료 버튼 설정 */
    background-color: var(--main-color);
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
}

.button-wrap .submit-modal:hover {
    /* right-box 모달창 모집완료 버튼 hover 설정 */
    background-color: var(--main-hover-color);
}

.button-wrap .close-modal-back {
    /* 모집완료버튼 -> 돌아가기 버튼*/
    border: 1px solid var(--tag-bgcolor);
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.modal02 h3 {
    /* 삭제 모달창 안내문구 폰트 설정 */
    font-size: 20px;
}

.modal02 p {
    /* 삭제버튼 안내문구 간격 두기 */
    margin-top: 10px;
}

.button-wrap .close-modal02-back {
    /* 삭제버튼 -> 돌아가기 버튼*/
    margin-top: 25px;
    border: 1px solid var(--tag-bgcolor);
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.close-modal-back:hover {
    /* 모집완료버튼 -> 돌아가기 호버 시 색 전환 */
    background-color: var(--tag-bgcolor);
}

.close-modal02-back:hover {
    /* 삭제버튼 -> 돌아가기 호버 시 색 전환 */
    background-color: var(--tag-bgcolor);
}

.sc-title {
    /* 프로젝트 참여 멤버 font 설정 */
    font-size: 1.25rem;
    font-weight: 600;
    padding: 30px 0 20px;
}

.sc-title-box {
    /* 프로젝트 참여 멤버 flex 정렬 */
    display: flex;
    justify-content: space-between;
}

.members-length {
    /* 참여 인원 font 설정 */
    padding-top: 40px;
    color: var(--tag-bgcolor);
    font-size: 0.825rem;
}

.show-btn {
    text-align: center;
}

.show-btn button {
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    text-align: 1.25rem;
    font-weight: 500;
}

.show-btn button.like i {
    padding-right: 4px;
    color: #fff;
}

.show-btn button.list i {
    padding-right: 4px;
}

.show-btn button.like {
    background-color: var(--main-color);
    color: #fff;
    margin-right: 10px;
}

.show p.content {
    border: none;
}