@import "common.css";
/******************** main ********************/

.swi {
  width: 100%;
  height: 334px;
  background-color: rgb(179, 179, 179);
}

.container {
  margin-bottom: 90px;
}
.container:nth-last-child(1) {
  margin-bottom: 0px;
}
.swiper {
  padding-bottom: 20px;
}
.cont-h2 {
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-weight: 700;
}
h5 {
  font-weight: 400;
}

.cont-box {
  max-width: 500px;
  margin-top: 100px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 23px 26px;
}
.cont-box:hover {
  cursor: pointer;
  overflow-y: visible;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
}
p.pj-type {
  display: inline-block;
  background-color: var(--tag-bgcolor);
  border-radius: 3px;
  color: #fff;
  font-size: 0.813rem;
  padding: 4px 9px;
}
h1.pj-title {
  display: block;
  font-size: 1.25rem;
  padding-top: 10px;
  width: 370px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h1.pj-title:hover {
  text-decoration: underline;
}
p.pj-content {
  width: 370px;
  font-size: 0.875rem;
  padding-top: 15px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2rem;
  color: var(--gray-font);
}
p.pj-use {
  color: var(--lightgray-font);
  font-size: 0.815rem;
  padding-top: 30px;
}
p.pj-use i {
  color: var(--lightgray-font);
  padding-right: 20px;
  width: 0.815rem;
}
.cont-box ul {
  display: flex;
  padding-top: 25px;
}
.cont-box ul li {
  color: var(--lightgray-font);
  font-size: 0.815rem;
  padding-right: 10px;
}
.cont-box ul li:nth-child(1) {
  border-right: 1px solid var(--lightgray-font);
}
.cont-box ul li:nth-child(2) {
  padding-left: 10px;
}
.cont-swiper > .swiper-button-prev {
  left: 0px;
}
.cont-swiper > .swiper-button-next {
  left: 50px;
}
.cont-swiper > .swiper-button-next,
.swiper-button-prev {
  top: 18%;
}
.cont-swiper > .swiper-button-next:after,
.cont-swiper > .swiper-button-prev:after {
  display: none;
}
.ps-l {
  position: relative;
}
.all-page {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 9;
}
.member-box {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 27px 30px;
  width: 330px;
  margin-top: 100px;
}
.member-box:hover {
  cursor: pointer;
  overflow-y: visible;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
}
.profile-top {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}
.profile-img {
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #666;
  margin-right: 15px;
}
.profile-top h6 {
  cursor: pointer;
  font-weight: 400;
  padding-bottom: 5px;
}
.profile-top h6:hover {
  text-decoration: underline;
}
.profile-top p {
  font-size: 0.875rem;
  color: var(--lightgray-font);
}
.profile-cont {
  padding-top: 15px;
  font-size: 0.875rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.2rem;
}
.member-swiper > .swiper-button-prev {
  left: 0px;
}
.member-swiper > .swiper-button-next {
  left: 50px;
}
.member-swiper > .swiper-button-next,
.swiper-button-prev {
  top: 18%;
}
.member-swiper > .swiper-button-next:after,
.member-swiper > .swiper-button-prev:after {
  display: none;
}
.swiper-button-next:hover i,
.swiper-button-prev:hover i {
  color: var(--main-color);
}
